@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url("./images/bg-main-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.front-card {
  background-image: url("./images/bg-card-front.png") ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 320px;
  border-radius: 20px;
}
.back-card {
  background-image: url("./images/bg-card-back.png") ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 320px;
  border-radius: 20px;
}

 .back-card p {
  top: 5.3rem;
} 

@media (min-width: 1024px) {
  body {
background-image: url("./images/bg-main-desktop.png");
  }
  .front-card,
  .back-card{
    height: 300px;
    width: 500px;
  }
  .back-card p {
    top: 8.4rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
